
/******************************************************************************
 * Member Contact
 ******************************************************************************/
/* common */
.underline { border-bottom : 1px solid #D2D2D2; }
#member_contact_content { margin-top: 30px; }
.add_member { width: 100%; height: 60px; background-color: rgba(43, 162, 220, 1); border: 1px solid #2897CE; border-radius: 5px; color: #FFFFFF; font-size: 17px;}

/* Left side bar */
#member_contact_content .member_side { width: 328px !important; max-height: 615px; height: 615px; padding: 0 !important; border: 1px solid #D2D2D2; border-radius: 4px; margin-right: 11px; }
#member_contact_content .member_side .sidebar_top { padding: 20px; background-color: #EAEAEA; text-align: center;}
#member_contact_content .member_side .sidebar_top .search { position: relative; }
#member_contact_content .member_side .sidebar_top .search_bar { position: relative; width: 100% !important; height: 34px; margin-top: 11px; color: #C1C1C1; border: 1px solid #D0D0D0; border-radius: 5px; text-indent: inherit; padding-left: 10px;}
#member_contact_content .member_side .sidebar_top .search_bar:focus { color: #000000; }
#member_contact_content .member_side .sidebar_top .search_icon { position: absolute; top: 37%; right: 10px;}
#member_contact_content .member_side .sidebar_bottom { padding: 15px 10px 20px 20px; border-top: 1px solid #D2D2D2; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list { height: 370px; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_title { float:left; width: 95%;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_title h4 { float:left; width: 48%; font-weight: bold; margin: 5px 0 !important; color: #2BA2DB;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_title p { float:right; width: 48%; text-align: right; margin: 5px 0; font-size: 12px; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list { margin-bottom: 10px;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list .manager { margin-top: 10px; cursor: pointer; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list .manager div.col-xs-3 { padding-left: 0 !important; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list .manager .profile_img { width: 60px; height: 60px; border-radius: 30px; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list .manager div h4 { padding-top: 10px; font-weight: bold; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .manager_list .manager div h6 { padding-top: 10px; color: #9D9D9D; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_title { float: left; width: 95%; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_title h4 { float:left; width: 48%; font-weight: bold; margin: 5px 0 !important; color: #2BA2DB;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_title p { float: right; width: 48%; text-align: right; margin: 5px 0; font-size: 12px; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list {}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list .member { margin-top: 10px; cursor: pointer;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list .member div.col-xs-3 { padding-left: 0 !important; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list .member .profile_img { width: 60px; height: 60px; border-radius: 30px; float: left;}
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list .member div h4 { padding-top: 10px; font-weight: bold; }
#member_contact_content .member_side .sidebar_bottom .member_contact_list .member_list .member div h6 { padding-top: 10px; color: #9D9D9D; }
#member_contact_content .member_side .sidebar_bottom .btn_group { padding-top: 20px; margin-top: 10px; }
#member_contact_content .member_side .sidebar_bottom .button { display: inline-block; width: 29%; text-align: center; padding: 10px 15px; margin-right: 10px; color: #2BA2DC; border: 1px solid #2796CD; border-radius: 2px; }
#member_contact_content .member_side .sidebar_bottom .button:hover { text-decoration: none; color: #2BA2DC; }
#member_contact_content .member_side .sidebar_bottom .button.last { margin-right: 0px !important;}

/* Right side bar */
#member_contact_content .member_profile { width: 797px !important; max-height: 615px; height: 615px; border: 1px solid #D2D2D2; border-radius: 4px; padding: 30px !important; }
#member_contact_content .member_profile .member_profile_img { width: 150px !important; padding: 0px !important; }
#member_contact_content .member_profile .member_profile_img .profile_img { margin-bottom: 22px; width: 150px; height: 150px; border-radius: 75px;}
#member_contact_content .member_profile .member_profile_title { padding-left: 50px !important; }
#member_contact_content .member_profile .member_profile_title img { margin-right: 10px; margin-bottom: 22px; }
#member_contact_content .member_profile .member_profile_title h1 { margin: 22px 0 14px 0; font-size: 40px; }
#member_contact_content .member_profile .member_profile_content { width: 737px; margin-top: 20px; }
#member_contact_content .member_profile .member_profile_content dl { width: 100%; clear: both; border-top: 1px solid #D2D2D2;}
/*#member_contact_content .member_profile .member_profile_content dl:last-child { border-bottom: 1px solid #D2D2D2; }*/
#member_contact_content .member_profile .member_profile_content dl dt { width: 150px; height: 45px; background-color: #E9E9EB; text-align: center; float: left; padding: 10px; font-size: 15px; font-weight: bold; }
#member_contact_content .member_profile .member_profile_content dl dd { width: 587px; height: 45px; text-align: left; float: left; padding: 10px 20px; font-size: 15px; font-weight: bold;}

/******************************************************************************
 * Member Contact - Member Invite Popup
 ******************************************************************************/
#invite_member_popup { width: 360px; height: 670px; border-radius: 4px; overflow: hidden;}
#invite_member_popup .header { position: relative; width: 100%; height: 50px; padding: 16px; background-color: #2BA2DB; text-align: center; }
#invite_member_popup .header h2 { color: #FFFFFF; font-size: 18px; font-weight: bold; margin: 0px; }
#invite_member_popup .header a { position: absolute; top: 10px; right: 15px; }
#invite_member_popup .content { padding: 20px; }
#invite_member_popup .content .content_area { border: 1px solid #CFCFCF; border-radius: 4px; }
#invite_member_popup .content .content_area ul { width: 100%; height: 40px; font-size: 13px; font-weight: bold; padding-left: 20px;  }
#invite_member_popup .content .content_area ul li {}
#invite_member_popup .content .content_area ul li a {border: 0; padding:10px;}
#invite_member_popup .content .content_area ul li a span {padding-left:5px;}
#invite_member_popup .content .content_area .search_type input[type="radio"] { margin-right: 5px; }
#invite_member_popup .content .content_area .search_area { width: 100%; height: 86px; padding: 10px 20px; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; background-color: #F2F2F2; }
#invite_member_popup .content .content_area .search_area select, input { border: 1px solid #D0D0D0; border-radius: 2px; padding-left: 10px;}
#invite_member_popup .content .content_area .search_area select { width: 180px !important; height: 27px; margin-bottom: 8px; }
#invite_member_popup .content .content_area .search_area input { width: 215px; height: 27px; }
#invite_member_popup .content .content_area .search_area input.input_email_first { width: 90px; }
#invite_member_popup .content .content_area .search_area input.input_email_last { width: 105px; }
#invite_member_popup .content .content_area .search_area .search_btn { width: 50px; height: 28px; margin-left: 5px; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px; font-weight: bold; border-radius: 5px; }
#invite_member_popup .content .content_area .member_area { height: 395px; padding: 6px 10px 0 20px ; }
#invite_member_popup .content .content_area .member_area .member_list { height: 100%; padding: 0 10px 0 0; }
/*#invite_member_popup .content .content_area .member_area .member_list .profile_img { width: 60px; height: 60px;  }*/
#invite_member_popup .content .content_area .member_area .member_list .member { height: 60px; padding: 12px 0; margin-top: 0; border-bottom: 1px solid #E6E6E6; }
#invite_member_popup .content .content_area .member_area .member_list .member:last-child { border: 0; }
#invite_member_popup .content .content_area .member_area .member_list .member div { height: 100%; padding-left: 0; }
#invite_member_popup .content .content_area .member_area .member_list .member .profile_img { width: 36px; height: 36px; border-radius: 18px; }
#invite_member_popup .content .content_area .member_area .member_list .member h4 { width: 100%; display: table-cell; vertical-align: middle; color: #333333; font-size: 14px; font-weight: bold; }
#invite_member_popup .content .content_area .member_area .member_list .member h4 span { padding-top: 5px; color: #999999; font-size: 14px; }
#invite_member_popup .content .content_area .member_area .member_list .member {height: 60px; }
#invite_member_popup .invite_btn { display: block; height: 40px; margin: 0 20px 20px 20px; padding-top: 10px; background-color: #2BA2DB; border-radius: 4px; color: #FFFFFF; font-weight: bold; text-align: center; overflow: hidden; }

/* Search Type : All */
#invite_member_popup .search_type .nav-pills .btn { display: inline; float: none; margin-right: 15px; padding: 0px; }
#invite_member_popup .search_type .nav-pills .btn a { display: inline; padding: 0px; }
#invite_member_popup .search_type .nav-pills .btn a input[type="radio"] { display: none; }
#invite_member_popup .search_type .nav-pills .btn,
#invite_member_popup .search_type .nav-pills .btn.active a,
#invite_member_popup .search_type .nav-pills .btn a { color: #333; font-size: 13px; background-color: #FFF; }
#invite_member_popup .search_type .nav-pills .btn.active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);  box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
#invite_member_popup .search_type .nav-pills .btn .radio_img { margin-right: 10px; padding: 9.5px; background: url("../images/00_radio_off.png") center no-repeat; background-size: 18px; }
#invite_member_popup .search_type .nav-pills .btn.active .radio_img { background: url("../images/00_radio_on.png") center no-repeat; background-size: 18px; }

/******************************************************************************
 * Member Contact - CoCo Invite Popup
 ******************************************************************************/
#invite_coco_popup { width: 360px; border-radius: 4px; overflow: hidden; z-index: 100; margin: auto;}
#invite_coco_popup .header { position: relative; width: 100%; height: 50px; padding: 15px; background-color: #2BA2DB; text-align: center; }
#invite_coco_popup .header h2 { color: #FFFFFF; font-size: 18px; font-weight: bold; margin: 0px; }
#invite_coco_popup .header a { position: absolute; top: 10px; left: 310px; }
#invite_coco_popup .header a i { font-size: 30px; color: #FFFFFF; }
#invite_coco_popup .content { padding: 20px 20px 0 20px; border-radius: 4px; overflow: hidden; }
#invite_coco_popup .content .content_area { border: 1px solid #D0D0D0; border-radius: 4px; }
#invite_coco_popup .content ul.tab { overflow: hidden; margin-bottom: 0; padding-left: 0; border-top-left-radius: 4px; border-top-right-radius: 4px; list-style: none; }
#invite_coco_popup .content ul.tab li.tab_menu { width: 50%; height: 40px; background-color: #FFFFFF; padding: 10px 0; text-align: center; float: left; }
#invite_coco_popup .content ul.tab li.tab_menu a { width: 100%; height: 100%; color: #666666; font-size: 14px; }
#invite_coco_popup .content ul.tab li.tab_menu.current { background-color: #2BA2DB; }
#invite_coco_popup .content ul.tab li.tab_menu.current a { color: #FFFFFF; font-weight: bold; }
#invite_coco_popup .content .search { background-color: #F2F2F2; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; padding: 10px 20px; }
#invite_coco_popup .content .search_bar { width: 215px !important; height: 28px; padding: 10px; margin-top: 0px; font-size: 14px; border: 1px solid #D0D0D0; border-radius: 5px; }
#invite_coco_popup .content .search_btn { width: 50px; height: 28px; padding: 6px 12px; margin-left: 5px; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px; font-weight: bold; border-radius: 5px; }
#invite_coco_popup .content .contact_area { padding: 24px 10px 0 20px; }
#invite_coco_popup .content .contact_list { height: 406px; padding: 0 10px 0 0 ; }
#invite_coco_popup .content .contact_list .keyword { color: #999999; border-bottom: 1px solid #D2D2D2; }
#invite_coco_popup .content .contact_list .keyword h4 { margin-top: 0; }
#invite_coco_popup .content .contact_list .contact { height: 60px; padding: 12px 0; }
#invite_coco_popup .content .contact_list .contact div { padding: 0; }
#invite_coco_popup .content .contact_list .contact input[type="checkbox"] + label { margin-top: 9px; }
#invite_coco_popup .content .contact_list .contact .profile_img { width: 36px; height: 36px; border-radius: 50%; }
#invite_coco_popup .content .contact_list .contact h4 { width: 100%; margin: 4px 0 6px 0; color: #333333; font-size: 13px; font-weight: bold; }
#invite_coco_popup .content .contact_list .contact h6 { width: 100%; margin: 0; color: #999999; font-size: 11px; font-weight: bold; }
/* direct input */
#invite_coco_popup .content .direct_input_area { padding: 10px 20px; background-color: #F2F2F2; float: left; }
#invite_coco_popup .content .direct_input_area h4.emphasis { width: 90px; color: #333333; font-size: 14px; font-weight: bold; float: left; }
#invite_coco_popup .content .direct_input_area select { width: 180px; height: 30px; float: right; }
#invite_coco_popup .content .direct_input_area input { width: 100%; height: 30px; margin-top: 8px; float: left; }
#invite_coco_popup .content .direct_input_area ul.directions { margin-top: 10px; list-style: asterisks; padding: 0 0 0 15px; float: left;} /* [FIX] asterisk 로 수정이 필요 */
#invite_coco_popup .content .direct_input_area ul.directions li { font-size: 13px; text-align: left; }
/*.invite_coco_popup .content .direct_input_area ul li:before { content : "* "; height: 100%; padding-right: 10px; }*/
#invite_coco_popup .ok_btn { display: block; width: 156px; height: 40px; margin: 20px auto; padding-top: 10px; background-color: #2BA2DB; border-radius: 4px; color: #FFFFFF; font-weight: bold; text-align: center; overflow: hidden; }

/* tab acive : All */
#invite_coco_popup .content ul.tab { border-bottom: 0; }
#invite_coco_popup .content ul.tab li.tab_menu a { display: inline; border: 0; }
#invite_coco_popup .content ul.tab li.tab_menu a:focus,
#invite_coco_popup .content ul.tab li.tab_menu a:hover { background: #FFF; }
#invite_coco_popup .content ul.tab li.tab_menu.active { background-color: #2BA2DB; }
#invite_coco_popup .content ul.tab li.tab_menu.active a { color: #FFF; font-weight: bold; background-color: #2BA2DB; }
