.alert-modal { overflow: hidden; height:200px;width: 340px; border-radius: 5px; background-color: #FFF; z-index: 110}
.alert-modal .header { position: relative; background-color: #2BA2DB; }
.alert-modal.secret .header { position: relative; background-color: #C70000; }
.alert-modal .header .close_button{ position: absolute; top: 10px; right: 20px; }
.alert-modal .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
.alert-modal .content { font-size:15px;text-align:center;padding: 0px 20px; color: #333;  padding:10px;height:240px;}
.alert-modal .content .files { padding: 0px 20px; color: #333; font-size: 13px; overflow-y: auto;height:240px;}
.alert-modal .content h3 { margin-top: 20px; color: #C70000; font-size: 15px; font-weight: bold; }
.alert-modal .content input[type="text"] { width: 100%; height: 29px; margin: 10px 0px 4px; padding-left: 10px; border: 1px solid #D0D0D0; border-radius: 4px; }
.alert-modal .content .warning { color: #C70000; font-size: 11px; }
.alert-modal .footer {  position:absolute;bottom:0px;left:0px;width:100%;height:50px;padding-left: 20px;padding-right: 20px; }
.alert-modal .footer .cancel_btn { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; border:1px solid #2BA2DB; color: #2BA2DB; background-color: #FFF; border-radius: 4px; }
.alert-modal .footer .ok_btn { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }


.datepicker-modal { overflow: hidden; height:360px;width: 340px; border-radius: 5px; background-color: #FFF; z-index: 110}
.datepicker-modal .header { position: relative; background-color: #2BA2DB; }
.datepicker-modal.secret .header { position: relative; background-color: #C70000; }
.datepicker-modal .header .close_button{ position: absolute; top: 10px; right: 20px; }
.datepicker-modal .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
.datepicker-modal .content { font-size:15px;text-align:center;padding: 0px 20px; color: #333;  padding:10px;height:240px;}
.datepicker-modal .content .files { padding: 0px 20px; color: #333; font-size: 13px; overflow-y: auto;height:240px;}
.datepicker-modal .content h3 { margin-top: 20px; color: #C70000; font-size: 15px; font-weight: bold; }
.datepicker-modal .content input[type="text"] { width: 100%; height: 29px; margin: 10px 0px 4px; padding-left: 10px; border: 1px solid #D0D0D0; border-radius: 4px; }
.datepicker-modal .content .warning { color: #C70000; font-size: 11px; }
.datepicker-modal .footer {  position:absolute;bottom:0px;left:0px;width:100%;height:50px;padding-left: 20px;padding-right: 20px; }
.datepicker-modal .footer .cancel_btn { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; border:1px solid #2BA2DB; color: #2BA2DB; background-color: #FFF; border-radius: 4px; }
.datepicker-modal .footer .ok_btn { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

