@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/******************************************************************************
 * Common Styles
 ******************************************************************************/

* { font-family: "Nanum Gothic", sans-serif; }
html, body { height: 100%; }
div[ui-view="content"] { height: inherit; }
.container { position:relative; width: 1200px !important; }
.navbar-brand {font-size: 23px;}
.clear { clear: both; }
section { clear: both; }
.row {margin-left: 0 !important; margin-right: 0 !important;}
li { text-align: center; }
html a, html a:focus, html a:active, html a:visited, html a:hover, html button { outline: none; text-decoration: none; outline-offset: 0px; cursor: pointer; }
::-ms-clear { display: none; } /* IE input x 표시 무효화 */
input:focus, input:visited, input:active, input:hover { outline: none; }
html textarea { resize: none; outline: none; }
html h1, html h2, html h3, html h4, html h5, html h6, html p, html label { margin: 0; }

/* vertical align : middle */
.valign { display: table; height: 100%; /*display: flex; align-items: center;*/ }

/* Scroll Bar Customizing */
.scroll_bar { overflow-x: hidden; overflow-y: scroll; }
.scroll_bar::-webkit-scrollbar { width: 7px; background-color: rgba(237, 237, 237, 0.5); border-radius: 5px; }
.scroll_bar::-webkit-scrollbar-thumb { background-color: rgba(164, 169, 175, 0.5); border-radius: 10px; height: 50%; }
::-webkit-scrollbar { width: 7px; background-color: rgba(237, 237, 237, 0.5); border-radius: 5px; }
::-webkit-scrollbar-thumb { background-color: rgba(164, 169, 175, 0.5); border-radius: 10px; height: 50%; }

/* Input Placeholder */
::-webkit-input-placeholder { color: #CCC; }
::-moz-placeholder          { color: #CCC; } /* Firefox 19+ */
:-moz-placeholder           { color: #CCC; } /* Firefox 18- */
:-ms-input-placeholder      { color: #CCC; }

/* Checkbox - Common Check */
input[type="checkbox"].common_check { display: none; }
input[type="checkbox"].common_check + label { display: block; float: left; position: relative; margin: 0px; padding: 8px; background: url("../images/04_createchat_checkbox_n.png") center no-repeat; }
input[type="checkbox"].common_check:checked + label { background: url("../images/04_createchat_checkbox_y.png") center no-repeat; }

/* Checkbox - Favorites Check */
input[type="checkbox"].favorites_check { display: none; }
input[type="checkbox"].favorites_check + label { display: block; float: left; position: relative; margin: 0px; padding: 8px; background: url("../images/09_favorites.png") center no-repeat; }
input[type="checkbox"].favorites_check:checked + label { background: url("../images/09_favorites_check.png") center no-repeat; }

input[type="radio"]:checked + label { background: url("../images//00_radio_on.png") center no-repeat; }
/* Radio Button - Common Radio */
input[type="radio"] { display: none; }
input[type="radio"] + label { display: block; float: left; position: relative; padding: 9.5px; background: url("../images/00_radio_off.png") center no-repeat; }

/* Select Customizing */
html select { float: left; width: 75px; height: 29px; padding: 0px 7px; color: #666; font-size: 13px; background: url("../images/06_dropdown_caret.png") 92% / no-repeat; border: 1px solid #D0D0D0; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }

/* popup background layer */
.popup_bg_layer { position: absolute; display:none; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); }

/* loading event */
#loading {position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 9999;}
#loading .bg_layer {width:100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.5);}
#loading i.fa.fa-spinner {position:absolute; top:50%; left: 50%;}

/******************************************************************************
 * GNB
 ******************************************************************************/
#gnb {height: 70px; background-image: url(../images/00_gnb_background.png); background-color: #10163b; border-bottom: 5px solid rgba(0,0,0, .5); }
#gnb nav.navbar { background-color: rgba(255, 255, 255, 0); border: 0px;}
#gnb nav.navbar .navbar-header .navbar-brand { padding-top: 18px; }
#gnb nav.navbar ul.navbar-nav li a { height: 22px; color: #FFFFFF; margin-top: 27px; padding-top: 0px; padding-left: 20px; padding-right: 20px; border-left: 1px solid #090D28; border-right: 1px solid #191E3E; }
#gnb nav.navbar ul.navbar-nav li:first-child a { border-left: 0;}
#gnb nav.navbar ul.navbar-nav li:last-child a { border-right: 0;}
#gnb nav.navbar ul.navbar-nav li a span { padding-left: 7px; }

/******************************************************************************
 * GNB - Alert
 ******************************************************************************/
#gnb_alert { width: 360px; height: 570px; border-radius: 5px; padding: 0px; overflow: hidden; }
#gnb_alert .alert_title { position: relative; width: 100%; height: 50px; background-color: #2BA2DB; color: #FFFFFF; padding: 15px; }
#gnb_alert .alert_title h2 { font-size: 18px; font-weight: bold; margin: 0px; text-align: center; }
#gnb_alert .alert_title a { position: absolute; top: 10px; right: 15px; }
#gnb_alert .alert_message { padding: 10px 5px 10px 10px; }
#gnb_alert .alert_list { height: 420px; }
#gnb_alert .alert_notice_top { color: #2BA2DB; margin: 10px; }
#gnb_alert .alert_notice_top h5 { font-size: 12px; font-weight: bold; margin-top: 0; margin-bottom: 4px; }
#gnb_alert .alert_notice_top h5:first-child { margin-top: 10px; }
#gnb_alert .alert_notice_top h5:last-child { margin-bottom: 10px; }
#gnb_alert .alert_list .alert_item { margin-top: 10px; margin-left: 10px; margin-right: 10px; margin-bottom: 0; float: left; cursor: pointer;}
#gnb_alert .alert_list .alert_item:last-child { margin: 10px; }
#gnb_alert .alert_list .alert_item.underline { border-bottom: 1px solid #E6E6E6; }
#gnb_alert .alert_list .alert_item .title { width: 60%; font-size: 13px; color: #2BA2DB; margin: 0; float: left; }
#gnb_alert .alert_list .alert_item .date { width: 40%; font-size: 11px; color: #333333; margin: 0; float: left;  text-align: right;}
#gnb_alert .alert_list .alert_item ul.message { width: 100%; padding-left: 20px; margin-top: 12px; float: left; font-size: 11px; color: #666666; }
#gnb_alert .alert_list .alert_item ul.message li { width: 100%; float: left; text-align: left; }
#gnb_alert .alert_notice_bottom { color: #333333; margin: 10px 20px; }
#gnb_alert .alert_notice_bottom h5 { font-size: 12px; font-weight: bold; }
#gnb_alert .alert_btn_group { padding: 10px 20px 20px 20px; text-align: center; }
#gnb_alert .alert_btn_group .alert_setting_btn { display: block; width: 153px; padding: 12px 0; background-color: #FFFFFF; color: #2BA2DB; font-size: 14px; border: 1px solid #2BA2DB; border-radius: 5px; margin-right: 10px; float: left; }
#gnb_alert .alert_btn_group .ok_btn { display: block; width: 153px; padding: 12px 0; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px;  border: 1px solid #2797CD; border-radius: 5px; float: right; }

/******************************************************************************
 * LNB
 ******************************************************************************/
#lnb { height: 79px; background-color: #2BA2DC; border-top: 1px solid #000000; border-bottom: 1px solid #278FC2; border-left: 0; border-right: 0; }
#lnb nav.navbar { height: 79px; background-color: rgba(255, 255, 255, 0); border-top: 0; border-bottom: 1px solid #2592C7; border-left: 0; border-right: 0; margin-bottom: 0px;}
#lnb nav.navbar .container {}
#lnb nav.navbar .navbar-header { padding-top: 18px; height: 100%; }
#lnb nav.navbar .navbar-header img { float: left; padding-right: 10px; }
#lnb nav.navbar .navbar-header h4 { max-width: 300px; float: left; padding-top: 7px; color: #FFFFFF; font-size: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#lnb nav.navbar .navbar-header a.navbar-brand { padding:0;}
#lnb nav.navbar ul.navbar-nav { height: 79px !important; padding-top: 0px; padding-bottom: 0px;}
#lnb nav.navbar ul.navbar-nav { padding: 0px;}
#lnb nav.navbar ul.navbar-nav li { height: 79px !important; border-left: 1px solid #35B3F0; border-right: 1px solid #2592C7;}
#lnb nav.navbar ul.navbar-nav li:first-child { width: 0; border-left: 0; }
#lnb nav.navbar ul.navbar-nav li:last-child {width: 0; border-right: 0px;}
#lnb nav.navbar ul.navbar-nav li img { height: 34px; margin-bottom: 4px; }
#lnb nav.navbar ul.navbar-nav li a { color:#FFFFFF;}

/******************************************************************************
 * LNB - Search Bar (for View)
 ******************************************************************************/
#search { background-color: #DFDFDF; height: 50px; }
#search .container {  padding: 8px 0; vertical-align: middle; }
#search .left_side, .right_side {width: 50%; float: left; }
#search .left_side .search_bar { width: 222px !important; height: 28px; padding: 0 4px; margin-top: 0px; font-size: 14px; border: 1px solid #D0D0D0; border-radius: 5px; }
#search .left_side .search_bar::-webkit-input-placeholder { padding: 0 4px; color: #D0D0D0; }
#search .left_side .search_bar::-moz-placeholder          { padding: 0 4px; color: #D0D0D0; } /* Firefox 19+ */
#search .left_side .search_bar:-moz-placeholder           { padding: 0 4px; color: #D0D0D0; } /* Firefox 18- */
#search .left_side .search_bar:-ms-input-placeholder      { padding: 0 4px; color: #D0D0D0; }
#search .left_side .search_btn { height: 30px; margin-left: 5px; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px; font-weight: bold; border: 0; border-radius: 5px; }
#search .right_side { padding-top:5px; }
#search .right_side .view_btn { color: #666666; font-size: 14px; font-weight: bold; height: 16px; padding: 0 20px; border-left: 1px solid #F1F1F1; border-right: 1px solid #D4D4D4; margin: 0; }
#search .right_side .view_btn i { font-size: 16px; margin-top: 2px; }
#search .right_side .view_btn:hover { text-decoration: none; }
#search .right_side .view_btn:first-child { border-left: 0; margin-right: -4px; }
#search .right_side .view_btn:last-child { border-right: 0; }
#search .right_side .view_btn.active { color: #2BA2DB; }

/******************************************************************************
 * Popup
 ******************************************************************************/
#popup_base { margin:auto; height: 100%; }
#popup_content { margin:auto; height: 100%; }
