#ex1Slider .slider-selection {
  background: #55C9A6;
}

#RGB {
  max-width: 220px;
  height: 100px;
  background: rgb(128, 200, 128);
}

#RC .slider-selection {
  background: #FF8282;
}

#RC .slider-handle {
  background: red;
}

#GC .slider-selection {
  background: #428041;
}

#GC .slider-handle {
  background: green;
}

#BC .slider-selection {
  background: #8283FF;
}

#BC .slider-handle {
  border-bottom-color: blue;
}

#R, #G, #B {
  width: 300px;
}
