
/******************************************************************************
 *
 * Card
 *
 ******************************************************************************/

/******************************************************************************
 * Card - Card Content
 ******************************************************************************/
#card_content { margin-top: 30px; }
#card_content .card_side { width: 328px !important; max-height: 615px; height: 615px; padding: 0 !important; border: 1px solid #D2D2D2; border-radius: 4px; margin-right: 11px; }
#card_content .card_side .top { padding: 20px; background-color: #EAEAEA; text-align: center;}
#card_content .card_side .top .add_card_btn { width: 100%; height: 60px; background-color: rgba(43, 162, 220, 1); border: 1px solid #2897CE; border-radius: 5px; color: #FFFFFF; font-size: 17px;}
#card_content .card_side .top .search { position: relative; }
#card_content .card_side .top .search .search_bar { position: relative; width: 100% !important; height: 34px; margin-top: 11px; color: #000; border: 1px solid #D0D0D0; border-radius: 5px; text-indent: inherit; padding-left: 10px;}
#card_content .card_side .top .search .search_icon { position: absolute; top: 37%; right: 10px;}
#card_content .card_side .bottom { padding: 20px 10px 20px 20px; border-top: 1px solid #D2D2D2; }
#card_content .card_side .bottom .card_contact_list { height: 414px; }
#card_content .card_side .bottom .card_contact_list .character_title { float: left; width: 95%;}
#card_content .card_side .bottom .card_contact_list .character_title h4 { float: left; width: 48%; font-weight: bold; margin: 5px 0 !important; color: #2BA2DB;}
#card_content .card_side .bottom .card_contact_list .character_title p { float: right; width: 48%; text-align: right; margin: 5px 0; font-size: 12px; }
#card_content .card_side .bottom .card_contact_list .character_list { margin-bottom: 10px;}
#card_content .card_side .bottom .card_contact_list .character_list .character { margin-top: 10px; }
#card_content .card_side .bottom .card_contact_list .character_list .character div.col-xs-3 { padding-left: 0 !important; }
#card_content .card_side .bottom .card_contact_list .character_list .character .profile_img { width: 60px; height: 60px; border-radius: 30px; }
#card_content .card_side .bottom .card_contact_list .character_list .character div h4 { margin: 12px 0px; font-size: 15px; font-weight: bold; line-height: 15px; }
#card_content .card_side .bottom .card_contact_list .character_list .character div h6 { color: #9D9D9D; font-size: 11px; line-height: 11px; }
#card_content .member_profile { width: 797px !important; max-height: 615px; height: 615px; border: 1px solid #D2D2D2; border-radius: 4px; padding: 30px 10px 30px 20px !important; }
#card_content .member_profile .coco_card_header { font-weight: bold; color: #000; padding: 0px 20px 0px 10px; }
#card_content .member_profile .coco_card_header > cl:first-child{ color: #2BA2DB; }
#card_content .member_profile .coco_card_header > cl:nth-child(2) { float: right; color: #333; font-size: 14px; font-weight: bold; }
#card_content .member_profile .coco_card_header > cl:nth-child(2) > fl { color: #FF0000; }
#card_content .member_profile .coco_card_scroll_height { width: 766px; height: 504px; margin-top: 13px; }
#card_content .member_profile .coco_card_scroll_height > .col-xs-6 { padding: 0px; }
#card_content .member_profile .coco_card { width: 359px; height: 210px; margin: 0px 10px 20px; padding: 0; border: 2px solid #2BA2DB; border-radius: 10px; }
#card_content .member_profile .coco_card > img { margin-left:330px; margin-top:13px ;cursor: pointer;}
#card_content .member_profile .coco_card .row .col-xs-4 { padding: 0px; text-align: center;}
#card_content .member_profile .coco_card .row .col-xs-8 { padding: 0px; }
#card_content .member_profile .coco_card .row .col-xs-4 > img {width:80%; }
#card_content .member_profile .coco_card .row .col-xs-8 > h4 { color:#2b94d6;font-weight:bold; margin-top:5px; }
#card_content .member_profile .coco_card .row .col-xs-8 > h4 > cl { margin-left:12px; font-size: 14px; color: #666; font-weight: normal; }
#card_content .member_profile .coco_card_infor { padding:0px;line-height:12px;font-size:12px;margin-top:10px;color:#666;width:216px }
#card_content .member_profile .coco_card_infor > .col-xs-1 { padding:0px;margin-bottom:0px; }
#card_content .member_profile .coco_card_infor > .col-xs-1 > p { font-weight:bold;margin-bottom:7px; }
#card_content .member_profile .coco_card_infor > .col-xs-11 { padding:0px;margin-bottom:0px; }
#card_content .member_profile .coco_card_infor > .col-xs-11 > p { margin-bottom:7px; }
#card_content .member_profile .coco_card_infor > .col-xs-11 > p:nth-child(4) { margin-bottom:0px; }
#card_content .member_profile .coco_card_infor > .col-xs-11 > cl { line-height:18px }
#card_content .member_profile .coco_card_under_line { margin-left:12px;margin-top:8px;width:333px;height:1px;background-color:#DDD; }
#card_content .member_profile .coco_card_button { margin-left:235px;margin-top:7px }
#card_content .member_profile .coco_card_button > a  { margin-right:3px }
#card_content .member_profile .coco_card_nth { margin-top:20px; }

/******************************************************************************
 * Card - Card Detail
 ******************************************************************************/
#coco_card_detail_popup { overflow: hidden; width: 720px; height: 640px; background-color: #FFF; border-radius: 5px; }
#coco_card_detail_popup .header { position: relative; background-color: #2BA2DB; }
#coco_card_detail_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#coco_card_detail_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#coco_card_detail_popup .content { width: 100%; height: 511px; }
#coco_card_detail_popup .content .coco_card_detail_left_contents { margin-left:40px;margin-top:35px;margin-right:60px;float:left }
#coco_card_detail_popup .content .coco_card_detail_left_contents > img { float:left;height: 100px;width:100px; }
#coco_card_detail_popup .content .coco_card_detail_information { height:106px }
#coco_card_detail_popup .content .coco_card_detail_information > div:first-child { line-height:18px;margin-left:130px;color:#2ba2db;font-weight:bold;font-size:18px;padding-top:12px;margin-bottom:14px }
#coco_card_detail_popup .content .coco_card_detail_information_number { line-height:12px;font-size:12px;margin-left:130px;color:#666; }
#coco_card_detail_popup .content .coco_card_detail_information_number p { margin-bottom: 10px; }
#coco_card_detail_popup .content .coco_card_detail_img_group  { margin-top:30px;margin-left:85px }
#coco_card_detail_popup .content .coco_card_detail_img_group > a { margin-right:5px }
#coco_card_detail_popup .content .coco_card_detail_img_underbar { margin-top:30px;background-color:#9a9a9a;width:278px;height:1px }
#coco_card_detail_popup .content .coco_card_detail_under_contents { width:278px;height:279px }
#coco_card_detail_popup .content .coco_card_detail_under_line_contents { width:278px;height:33px }
#coco_card_detail_popup .content .coco_card_detail_under_line_contents > div { font-size:12px;color:#666;}
#coco_card_detail_popup .content .coco_card_detail_under_left_contents { text-align:center;padding-top:12px;width:64px;height:33px;float:left }
#coco_card_detail_popup .content .coco_card_detail_under_right_contents { padding-left:27px;padding-top:12px;width:214px;float:left; }
#coco_card_detail_popup .content .coco_card_detail_under_contents_line { height: 1px; color: #DDD; width:278px; }
#coco_card_detail_popup .content .coco_card_detail_right_contents { float:left;margin-top:35px }
#coco_card_detail_popup .content .coco_card_detail_right_contents > p { font-size:18px;font-weight:800;margin-bottom:0px; }
#coco_card_detail_popup .content .coco_card_detail_right_contents > textarea { font-size:12px;color:#666;margin-top:10px;width:300px;height:370px;padding-left:20px;padding-top:18px; }
#coco_card_detail_popup .content .coco_a_margin  { margin-left:215px }
#coco_card_detail_popup .content .coco_card_save_button { margin-top:10px;width:85px;height:30px;color:#2ba2db;border-radius: 5px;border:1px solid #2797cd;text-align:center;padding-top:7px;font-size:14px;line-height:14px; font-weight:800; }
#coco_card_detail_popup .content .coco_card_detail_under_bar { margin-left:40px;height:1px;background-color:#d2d2d2;width:638px;float:left; }
#coco_card_detail_popup .footer { padding: 20px; text-align: center; }
#coco_card_detail_popup .footer button { width: 155px; height: 40px; color: #2BA2DB; font-size: 13px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#coco_card_detail_popup .footer .ok_btn { margin-left: 5px; color: #FFF; background-color: #2BA2DB; }

/******************************************************************************
 * Card - Chat Request Popup
 ******************************************************************************/
#chat_request_popup { overflow: hidden;height:300px; width: 360px; border-radius: 5px; background-color: #FFF; }
#chat_request_popup .header { position: relative; background-color: #2BA2DB; }
#chat_request_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#chat_request_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#chat_request_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#chat_request_popup .content p .blue { color: #2B94D6; }
#chat_request_popup .content p:last-child { margin-top: 30px; font-weight: bold; }
#chat_request_popup .footer { padding: 20px 40px; }
#chat_request_popup .footer button { width: 135px; height: 40px; color: #2BA2DB; font-size: 13px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#chat_request_popup .footer .ok_btn { float: right; color: #FFF; background-color: #2BA2DB; }

/******************************************************************************
 * Card - Card Exchange Popup
 ******************************************************************************/
#card_exchange_popup { overflow: hidden; height:420px; width: 360px; border-radius: 5px; background-color: #FFF; }
#card_exchange_popup .header { position: relative; background-color: #2BA2DB; }
#card_exchange_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#card_exchange_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#card_exchange_popup .content { padding: 20px 40px 10px; color: #666; font-size: 13px; }
#card_exchange_popup .content .top { padding-bottom: 20px; border-bottom: 1px solid #D0D0D0; }
#card_exchange_popup .content .top > img { float:left; }
#card_exchange_popup .content .card_info_content { height:106px }
#card_exchange_popup .content .card_info_content > div:first-child { line-height:18px;margin-left:130px;color:#2ba2db;font-weight:bold;font-size:18px;padding-top:12px;margin-bottom:14px }
#card_exchange_popup .content .card_info_content > div:nth-child(2) { line-height:12px;font-size:12px;margin-left:130px;color:#666; }
#card_exchange_popup .content .card_info_content p { margin-bottom: 10px; }
#card_exchange_popup .content .coco_card_five_dots { margin-top: 20px; text-align: center; }
#card_exchange_popup .content .bottom { margin-top: 20px; text-align: center; }
#card_exchange_popup .footer { padding: 20px 65px; }
#card_exchange_popup .footer button { width: 110px; height: 40px; color: #2BA2DB; font-size: 13px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#card_exchange_popup .footer .ok_btn { float: right; color: #FFF; background-color: #2BA2DB; }

/******************************************************************************
 * Card - Request Card Exchange Popup
 ******************************************************************************/
#request_card_exchange_popup { overflow: hidden; width: 360px; height: 670px; border-radius: 5px; background-color: #FFF; }
#request_card_exchange_popup .header { position: relative; background-color: #2BA2DB; }
#request_card_exchange_popup .header .close_button{ position: absolute; top: 10px; right: 15px; }
#request_card_exchange_popup .header h2 { font-size: 18px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#request_card_exchange_popup .content { padding: 20px; }
#request_card_exchange_popup .content .content_area { border: 1px solid #CFCFCF; border-radius: 4px; }
#request_card_exchange_popup .content .content_area ul { width: 100%; height: 40px; font-size: 13px; font-weight: bold; padding-left: 20px; }
#request_card_exchange_popup .content .content_area ul li {}
#request_card_exchange_popup .content .content_area ul li a {border: 0; padding:10px;}
#request_card_exchange_popup .content .content_area ul li a span {padding-left:5px;}
#request_card_exchange_popup .content .content_area .search_type input[type="radio"] { margin-right: 5px; }
#request_card_exchange_popup .content .content_area .search_area { width: 100%; height: 86px; padding: 10px 20px; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; background-color: #F2F2F2; }
#request_card_exchange_popup .content .content_area .search_area select, input { border: 1px solid #D0D0D0; border-radius: 2px; padding-left: 10px;}
#request_card_exchange_popup .content .content_area .search_area select { width: 180px !important; height: 27px; margin-bottom: 8px; }
#request_card_exchange_popup .content .content_area .search_area input { width: 215px; height: 27px; }
#request_card_exchange_popup .content .content_area .search_area input.input_email_first { width: 90px; }
#request_card_exchange_popup .content .content_area .search_area input.input_email_last { width: 105px; }
#request_card_exchange_popup .content .content_area .search_area .search_btn { width: 50px; height: 28px; padding: 6px 12px; margin-left: 5px; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px; font-weight: bold; border-radius: 5px; }
#request_card_exchange_popup .content .content_area .member_area { height: 390px; padding: 6px 10px 0 20px ; }
#request_card_exchange_popup .content .content_area .member_area .member_list { height: 100%; padding: 0 10px 0 0; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member { height: 60px; padding: 12px 0; margin-top: 0; border-bottom: 1px solid #E6E6E6;cursor:pointer; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member:hover {background: #efefef;}
#request_card_exchange_popup .content .content_area .member_area .member_list .member:last-child { border: 0; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member div { height: 100%; padding-left: 0; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member .profile_img { width: 36px; height: 36px; border-radius: 18px; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member h4 { width: 170px; display: table-cell; vertical-align: middle; color: #333333; font-size: 14px; font-weight: bold; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member h4 span { padding-top: 5px; color: #999999; font-size: 14px; }
#request_card_exchange_popup .content .content_area .member_area .member_list .member a {width: 100%;}
#request_card_exchange_popup .content .content_area .member_area .member_list .member a img {display: none; width: 40px;}
#request_card_exchange_popup .content .content_area .member_area .member_list .member:hover a img {display: block;}
#request_card_exchange_popup .invite_btn { display: block; height: 40px; margin: 0 20px 20px 20px; padding-top: 10px; background-color: #2BA2DB; border-radius: 4px; color: #FFFFFF; font-weight: bold; text-align: center; overflow: hidden; }

/* Search Type : All */
#request_card_exchange_popup .search_type .nav-pills .btn { display: inline; float: none; margin-right: 15px; padding: 0px; }
#request_card_exchange_popup .search_type .nav-pills .btn a { display: inline; padding: 0px; }
#request_card_exchange_popup .search_type .nav-pills .btn a input[type="radio"] { display: none; }
#request_card_exchange_popup .search_type .nav-pills .btn,
#request_card_exchange_popup .search_type .nav-pills .btn.active a,
#request_card_exchange_popup .search_type .nav-pills .btn a { color: #333; font-size: 13px; background-color: #FFF; }
#request_card_exchange_popup .search_type .nav-pills .btn.active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);  box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
#request_card_exchange_popup .search_type .nav-pills .btn .radio_img { margin-right: 10px; padding: 9.5px; background: url("../img/00_radio_off.png") center no-repeat; background-size: 18px; }
#request_card_exchange_popup .search_type .nav-pills .btn.active .radio_img { background: url("../img/00_radio_on.png") center no-repeat; background-size: 18px; }

/******************************************************************************
 * Card - Select Card Exchange Member Popup
 ******************************************************************************/
#select_card_exchange_member_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#select_card_exchange_member_popup .header { position: relative; background-color: #2BA2DB; }
#select_card_exchange_member_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#select_card_exchange_member_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#select_card_exchange_member_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#select_card_exchange_member_popup .footer { padding: 20px 20px; }
#select_card_exchange_member_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Card - Input Error Popup
 ******************************************************************************/
#input_error_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#input_error_popup .header { position: relative; background-color: #2BA2DB; }
#input_error_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#input_error_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#input_error_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#input_error_popup .footer { padding: 20px 20px; }
#input_error_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Card - Card Exchange Fail Popup
 ******************************************************************************/
#card_exchange_fail_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#card_exchange_fail_popup .header { position: relative; background-color: #2BA2DB; }
#card_exchange_fail_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#card_exchange_fail_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#card_exchange_fail_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#card_exchange_fail_popup .footer { padding: 20px 20px; }
#card_exchange_fail_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Card - Receiver Input Error Popup
 ******************************************************************************/
#receiver_input_error_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#receiver_input_error_popup .header { position: relative; background-color: #2BA2DB; }
#receiver_input_error_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#receiver_input_error_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#receiver_input_error_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#receiver_input_error_popup .footer { padding: 20px 20px; }
#receiver_input_error_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Card - Card Exchange Success Popup
 ******************************************************************************/
#card_exchange_success_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#card_exchange_success_popup .header { position: relative; background-color: #2BA2DB; }
#card_exchange_success_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#card_exchange_success_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#card_exchange_success_popup .content { padding: 40px 20px 20px; color: #666; font-size: 14px; text-align: center; }
#card_exchange_success_popup .footer { padding: 20px 20px; }
#card_exchange_success_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Card - Invite Coco Popup
 ******************************************************************************/
#invite_coco_popup { overflow: hidden;height:680px; width: 360px; border-radius: 5px; background-color: #FFF; }
#invite_coco_popup.direct { height:440px;  }
#invite_coco_popup .header { position: relative; background-color: #2BA2DB; }
#invite_coco_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#invite_coco_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#invite_coco_popup .content { padding: 20px 20px 0 20px; border-radius: 4px; overflow: hidden; }
#invite_coco_popup .content .content_area { border: 1px solid #D0D0D0; border-radius: 4px; }
#invite_coco_popup .content ul.tab { overflow: hidden; margin-bottom: 0; padding-left: 0; border-top-left-radius: 4px; border-top-right-radius: 4px; list-style: none; }
#invite_coco_popup .content ul.tab li.tab_menu { width: 50%; height: 40px; background-color: #FFFFFF; padding: 10px 0; text-align: center; float: left; }
#invite_coco_popup .content ul.tab li.tab_menu a { width: 100%; height: 100%; color: #666666; font-size: 14px; }
#invite_coco_popup .content ul.tab li.tab_menu.current { background-color: #2BA2DB; }
#invite_coco_popup .content ul.tab li.tab_menu.current a { color: #FFFFFF; font-weight: bold; }
#invite_coco_popup .content .search { background-color: #F2F2F2; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; padding: 10px 20px; }
#invite_coco_popup .content .search_bar { width: 215px !important; height: 28px; padding: 10px; margin-top: 0px; font-size: 14px; border: 1px solid #D0D0D0; border-radius: 5px; }
#invite_coco_popup .content .search_btn { width: 50px; height: 28px; padding: 6px 12px; margin-left: 5px; background-color: #2BA2DB; color: #FFFFFF; font-size: 14px; font-weight: bold; border-radius: 5px; }
#invite_coco_popup .content .contact_area { padding: 24px 10px 0 20px; }
#invite_coco_popup .content .contact_list { height: 406px; padding: 0 10px 0 0 ; }
#invite_coco_popup .content .contact_list .keyword { color: #999999; border-bottom: 1px solid #D2D2D2; }
#invite_coco_popup .content .contact_list .keyword h4 { margin-top: 0; }
#invite_coco_popup .content .contact_list .contact { height: 60px; padding: 12px 0; }
#invite_coco_popup .content .contact_list .contact div { padding: 0; }
#invite_coco_popup .content .contact_list .contact input[type="checkbox"].common_check + label { margin-top: 9px; }
#invite_coco_popup .content .contact_list .contact .profile_img { width: 36px; height: 36px; border-radius: 50%; }
#invite_coco_popup .content .contact_list .contact h4 { width: 100%; margin: 4px 0 6px 0; color: #333333; font-size: 13px; font-weight: bold; }
#invite_coco_popup .content .contact_list .contact h6 { width: 100%; margin: 0; color: #999999; font-size: 11px; font-weight: bold; }
#invite_coco_popup .content .direct_input_area { padding: 10px 20px; background-color: #F2F2F2; float: left; }
#invite_coco_popup .content .direct_input_area h4.emphasis { width: 90px; color: #333333; font-size: 14px; font-weight: bold; float: left; }
#invite_coco_popup .content .direct_input_area select { width: 180px; height: 30px; float: right; }
#invite_coco_popup .content .direct_input_area input { float: left; width: 100%; height: 30px; margin-top: 8px; padding-left: 10px; border: 1px solid #D0D0D0; border-radius: 4px; }
#invite_coco_popup .content .direct_input_area ul.directions { margin-top: 10px; list-style: asterisks; padding: 0 0 0 15px; float: left;} /* [FIX] asterisk 로 수정이 필요 */
#invite_coco_popup .content .direct_input_area ul.directions li { font-size: 13px; text-align: left; }
#invite_coco_popup .ok_btn { display: block; width: 320px; height: 40px; margin: 20px auto; padding-top: 10px; background-color: #2BA2DB; border-radius: 4px; color: #FFFFFF; font-weight: bold; text-align: center; overflow: hidden; }

/* tab acive : All */
#invite_coco_popup .content ul.tab { border-bottom: 0; }
#invite_coco_popup .content ul.tab li.tab_menu a { display: inline; border: 0; }
#invite_coco_popup .content ul.tab li.tab_menu a:focus,
#invite_coco_popup .content ul.tab li.tab_menu a:hover { background: #FFF; }
#invite_coco_popup .content ul.tab li.tab_menu.active { background-color: #2BA2DB; }
#invite_coco_popup .content ul.tab li.tab_menu.active a { color: #FFF; font-weight: bold; background-color: #2BA2DB; }
