/******************************************************************************
 * Login - Main
 ******************************************************************************/
#login_bg { height:100%; background-image : url("../images/01_login_background.jpg"); background-attachment: fixed; background-position: 50% 50%; background-size : cover; }
#login { height: 855px; padding: 0; }
#login .login_content { height: 782px; }
#login .login_content .service_explain { width: 755px; height: 485px; margin-top: 130px; }
#login .login_content .service_explain .carousel { width: 725px; height: 485px; }
#login .login_content .service_explain .carousel-inner { width: 725px; height: 485px; }
#login .login_content .service_explain .item img { margin: auto; }
#login .login_content .service_explain .item .carousel-caption { top: 343px; left: 0; width: 100%; padding: 0; text-shadow: 0 1px 2px rgba(0, 0, 0, 0); }
#login .login_content .service_explain .item .carousel-caption h4 { font-size: 40px; color: #FFF; font-weight: bold; }
#login .login_content .service_explain .item .carousel-caption p { margin-top: 35px; font-size: 15px; color: #FFF; }
#login .login_content .service_explain .carousel-control { color: #77C5F0; font-size: 70px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0); background: none; background-color: transparent; border: 0; opacity: 1; }
#login .login_content .service_explain .carousel-control:hover,
#login .login_content .service_explain .carousel-control:focus { color: #77C5F0; opacity: 1; }
#login .login_content .service_explain .carousel-indicators { display: none; }
#login .login_content .login_form { width: 440px; height: 770px; padding: 0; clear: none; }
#login .login_content .login_form .login_box { position: relative; width: 386px; height: 440px; margin-top: 144px; padding: 90px 36px 100px 45px; background: url("../images/01_login_right.png") no-repeat; }
#login .login_content .login_form .login_box .alert_text { height: 15px; margin-bottom: 10px; font-size: 13px; color: #494949; text-align:center; }
#login .login_content .login_form .login_box input[type="text"],
#login .login_content .login_form .login_box input[type="password"] { width: 100%; height: 43px; margin-bottom: 8px; padding-left: 20px; color: #333; font-size: 17px; background: #EAEAEA; border: 0; border-radius: 7px; box-shadow: inset 4px 5px 3px #CCC; }
#login .login_content .login_form .login_box input[type="text"]::-webkit-input-placeholder { color: #666; }
#login .login_content .login_form .login_box input[type="text"]::-moz-placeholder          { color: #666; } /* Firefox 19+ */
#login .login_content .login_form .login_box input[type="text"]:-moz-placeholder           { color: #666; } /* Firefox 18- */
#login .login_content .login_form .login_box input[type="text"]:-ms-input-placeholder      { color: #666; }
#login .login_content .login_form .login_box input[type="password"]::-webkit-input-placeholder { color: #666; }
#login .login_content .login_form .login_box input[type="password"]::-moz-placeholder          { color: #666; } /* Firefox 19+ */
#login .login_content .login_form .login_box input[type="password"]:-moz-placeholder           { color: #666; } /* Firefox 18- */
#login .login_content .login_form .login_box input[type="password"]:-ms-input-placeholder      { color: #666; }
#login .login_content .login_form .login_box .join_down { height: 30px; margin-top: 15px; font-size: 14px; }
#login .login_content .login_form .login_box .join_down .save_id { font-weight: bold; color: #333; line-height: 30px; }
#login .login_content .login_form .login_box .join_down .save_id input[type="checkbox"] { display: none; }
#login .login_content .login_form .login_box .join_down .save_id input[type="checkbox"] + label { display: block; float: left; position: relative; margin: 0px; padding: 15px; background: url("../images/01_login_check_none.png") center no-repeat; }
#login .login_content .login_form .login_box .join_down .save_id input[type="checkbox"]:checked + label { background: url("../images/01_login_check.png") center no-repeat; }
#login .login_content .login_form .login_box .join_down a { float: right; margin-top: 5px; margin-left: 15px; color: #2BA2DB; padding-bottom: 1px; border-bottom: 1px solid #2BA2DB; }
#login .login_content .login_form .login_box .login_button { position: absolute; bottom: 120px; width: 303px; height: 43px; margin-top: 28px; color: #FFF; font-size: 17px; font-weight: bold; border: 0px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-color: #0E93E1; background-image: -webkit-gradient(linear, left top, left bottom, from(#0E93E1), to(#087CC9)); background-image: -webkit-linear-gradient(top, #0E93E1, #087CC9); background-image: -moz-linear-gradient(top, #0E93E1, #087CC9); background-image: -ms-linear-gradient(top, #0E93E1, #087CC9); background-image: -o-linear-gradient(top, #0E93E1, #087CC9); background-image: linear-gradient(to bottom, #0E93E1, #087CC9); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0E93E1, endColorstr=#087CC9); }
#login .footer { height: 73px; padding-top: 28px; font-size: 15px; text-align: center; border-top: 1px solid #77C5F0; }
#login .footer a { margin-right: 14px; color: #FFF; }

/***************************************************************************
 * Login  - Change PasswordPopup
 ******************************************************************************/
#change_password_popup { width: 900px; height: 485px; font-size:14px; color: #666; font-weight: bold; }
#change_password_popup .header .close_button { float: right; margin-bottom: 10px; }
#change_password_popup .pass_alert_div { width: 900px; height: 442px; background-color: #FFF; border-radius: 5px; }
#change_password_popup .pass_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#change_password_popup .pass_alert_div .detail_text { margin-left: 50px; margin-bottom: 8px; padding-top: 30px; color: #333; font-size: 16px; font-weight: bold; }
#change_password_popup .pass_alert_div input[type="text"] { width: 798px; height: 42px; margin: 0px 0px 20px 50px; padding-left: 20px; color: #333; font-size: 15px; border: 1px solid #CCC; }
#change_password_popup .pass_alert_div input[type="text"]::-webkit-input-placeholder { color: #999; }
#change_password_popup .pass_alert_div input[type="text"]::-moz-placeholder          { color: #999; } /* Firefox 19+ */
#change_password_popup .pass_alert_div input[type="text"]:-moz-placeholder           { color: #999; } /* Firefox 18- */
#change_password_popup .pass_alert_div input[type="text"]:-ms-input-placeholder      { color: #999; }
#change_password_popup .pass_alert_div .under_text{ margin-left: 50px; }
#change_password_popup .pass_alert_div .under_text > p { line-height:14px; }
#change_password_popup .pass_alert_div .under_text > p:first-child{ margin-bottom: 7px; }
#change_password_popup .pass_alert_div .under_text > p:nth-child(2){ margin-bottom: 0px; }
#change_password_popup .pass_alert_div .footer { margin: 125px 0px 40px; text-align: center; }
#change_password_popup .pass_alert_div .footer button { width: 164px; height: 49px; font-size: 17px; color: #2BA2DB; text-align: center; background-color: #FFF; border: 1px solid #2797CD; border-radius: 5px; }
#change_password_popup .pass_alert_div .footer .mobile_btn { margin-left: 10px; color: #FFF; background-color: #2BA2DB; }

/******************************************************************************
 * Login - Auth Mobile
 ******************************************************************************/
#auth_mobile_popup { width: 900px; height: 485px; font-size:14px; color: #666; font-weight: bold; }
#auth_mobile_popup .header .close_button { float: right; margin-bottom: 10px; }
#auth_mobile_popup .pass_alert_div { width: 900px; height: 442px; background-color: #FFF; border-radius: 5px; }
#auth_mobile_popup .pass_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#auth_mobile_popup .pass_alert_div .pass_center_text { width: 900px; margin-top: 40px; text-align: center; }
#auth_mobile_popup .pass_alert_div .pass_center_text > p { line-height: 25px; color: #333; font-size: 19px; }
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number { font-size: 14px; color: #333; }
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number input[type="text"] { width: 578px; height: 42px; margin: 32px 0px 20px 161px; padding-left: 20px; font-size: 16px; text-align: center; border: 1px solid #CCC; }
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number input[type="text"]::-webkit-input-placeholder { color: #999; }
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number input[type="text"]::-moz-placeholder          { color: #999; } /* Firefox 19+ */
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number input[type="text"]:-moz-placeholder           { color: #999; } /* Firefox 18- */
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number input[type="text"]:-ms-input-placeholder      { color: #999; }
#auth_mobile_popup .pass_alert_div .pass_insert_confirm_number > a { margin-left: -33px; margin-right: 17px;}
#auth_mobile_popup .pass_alert_div .under_text{ padding-left: 162px; }
#auth_mobile_popup .pass_alert_div .under_text p { line-height: 14px; margin-bottom: 15px; }
#auth_mobile_popup .pass_alert_div .under_text a { color: #2797CD; font-size: 16px; text-decoration: underline; }
#auth_mobile_popup .pass_alert_div .footer { margin: 54px 0px 40px; text-align: center; }
#auth_mobile_popup .pass_alert_div .footer button { width: 164px; height: 49px; font-size: 17px; color: #FFF; text-align: center; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 5px; }
#auth_mobile_popup .pass_alert_div .footer .auth_ok_btn { margin-left: 10px; }

/***************************************************************************
 * Login  - Rewrite Password Popup
 ******************************************************************************/
#rewrite_password_popup { width: 900px; height: 485px; font-size: 14px; color: #666; font-weight: bold; }
#rewrite_password_popup .header .close_button { float: right; margin-bottom: 10px; }
#rewrite_password_popup .pass_alert_div { width: 900px; height: 442px; background-color: #FFF; border-radius: 5px; }
#rewrite_password_popup .pass_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#rewrite_password_popup .pass_alert_div .detail_text{ margin-left: 50px; margin-bottom: 8px; padding-top: 30px; color: #333; font-size: 16px; font-weight: bold; }
#rewrite_password_popup .pass_alert_div input[type="text"] { width: 798px; height: 42px; margin: 0px 0px 5px 50px; padding-left: 20px; color: #333; font-size: 15px; border: 1px solid #CCC; }
#rewrite_password_popup .pass_alert_div input[type="text"]::-webkit-input-placeholder { color: #999; }
#rewrite_password_popup .pass_alert_div input[type="text"]::-moz-placeholder          { color: #999; } /* Firefox 19+ */
#rewrite_password_popup .pass_alert_div input[type="text"]:-moz-placeholder           { color: #999; } /* Firefox 18- */
#rewrite_password_popup .pass_alert_div input[type="text"]:-ms-input-placeholder      { color: #999; }
#rewrite_password_popup .pass_alert_div .boan_group { position: relative; margin-top: 10px; padding-left: 50px; }
#rewrite_password_popup .pass_alert_div .boan_group .security_bar { float: left; width: 190px; height: 9px; margin-right: 12px; background-color: #D7D7D7; border: 1px solid #CACBCC; }
#rewrite_password_popup .pass_alert_div .boan_group .security_bar.level { background-color: #2BA2DB; border: 0; }
#rewrite_password_popup .pass_alert_div .under_text { margin-left: 50px; }
#rewrite_password_popup .pass_alert_div .under_text > p:first-child { margin-bottom: 7px; line-height: 16px; margin-top: 7px; color: #333; font-size: 16px; }
#rewrite_password_popup .pass_alert_div .footer { margin: 70px 0px 40px; text-align: center; }
#rewrite_password_popup .pass_alert_div .footer button { width: 164px; height: 49px; font-size: 17px; color: #FFF; text-align: center; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 5px; }
#rewrite_password_popup .pass_alert_div .footer .ok_btn { margin-left: 10px; }

/******************************************************************************
 * Login - Rewrite Password Fail Notify Popup
 ******************************************************************************/
#rewrite_password_fail_notify_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#rewrite_password_fail_notify_popup .header { position: relative; background-color: #2BA2DB; }
#rewrite_password_fail_notify_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#rewrite_password_fail_notify_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#rewrite_password_fail_notify_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#rewrite_password_fail_notify_popup .footer { padding: 20px; }
#rewrite_password_fail_notify_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Login - Repassword Wrong Notify Popup
 ******************************************************************************/
#repassword_wrong_notify_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#repassword_wrong_notify_popup .header { position: relative; background-color: #2BA2DB; }
#repassword_wrong_notify_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#repassword_wrong_notify_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#repassword_wrong_notify_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#repassword_wrong_notify_popup .footer { padding: 20px; }
#repassword_wrong_notify_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Login - Rewrite Password Reset Nnotify Popup
 ******************************************************************************/
#rewrite_password_reset_notify_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#rewrite_password_reset_notify_popup .header { position: relative; background-color: #2BA2DB; }
#rewrite_password_reset_notify_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#rewrite_password_reset_notify_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#rewrite_password_reset_notify_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#rewrite_password_reset_notify_popup .footer { padding: 20px; }
#rewrite_password_reset_notify_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * SIGN UP
 ******************************************************************************/

/***************************************************************************
 * Sign Up - Sign Up Complete Auth
 ******************************************************************************/
#complete_auth { width: 900px; height: 714px; }
#complete_auth .top_banner { height: 30px; }
#complete_auth .top_banner .x_button { margin-left: 870px; }
#complete_auth .join_alert_div { width: 900px; height: 675px; margin-top: 9px; background-color: #FFF; border-radius: 5px; }
#complete_auth .join_alert_div > p:first-child { margin-left:50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#complete_auth .join_alert_div .six_center_img { margin-top: 56px; margin-left: 375px; }
#complete_auth .join_alert_div .six_img_under { width: 900px; margin-top: 25px; text-align: center; }
#complete_auth .join_alert_div .six_img_under > p { font-family: 한컴윤고딕760; font-weight: bold; color: #333; }
#complete_auth .join_alert_div .six_img_under > p:first-child{ font-size: 30px; }
#complete_auth .join_alert_div .six_img_under > p:nth-child(2){ margin-top: 28px; font-size: 16px; }
#complete_auth .join_alert_div .six_img_under > p:nth-child(2) > cl { color: #2BA2DB; }
#complete_auth .join_alert_div .join_left_button { width: 165px; height: 47px; margin-top: 77px; margin-left: 285px; font-size: 17px; text-align: center; background-color: #2797CD; border-radius: 5px; }
#complete_auth .join_alert_div .join_left_button >  a > span > p { padding-top: 13px; font-weight: bold; font-size: 16px; color: #FFF; }
#complete_auth .join_alert_div .join_right_button{ width:165px; height:47px; margin-top: -47px; margin-bottom: 40px; margin-left: 460px; background-color: #2BA2DB; font-size: 17px; color: #FFF; text-align: center; border: 0; border-radius: 5px; }
#complete_auth .join_alert_div .join_right_button >  a > span > p { padding-top: 13px; font-weight :bold; font-size: 16px; color: #FFF; }

/******************************************************************************
 * Sign Up - Auth Email Fail Alert Popup
 ******************************************************************************/
#auth_email_fail_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_email_fail_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_email_fail_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_email_fail_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_email_fail_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_email_fail_alert_popup .content span { color: #2BA2DB; }
#auth_email_fail_alert_popup .footer { padding: 20px; }
#auth_email_fail_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Email Complete Alert Popup
 ******************************************************************************/
#auth_email_complete_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_email_complete_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_email_complete_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_email_complete_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_email_complete_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_email_complete_alert_popup .content span { color: #2BA2DB; }
#auth_email_complete_alert_popup .footer { padding: 20px; }
#auth_email_complete_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Mobile Fail Alert Popup
 ******************************************************************************/
#auth_moblie_fail_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_moblie_fail_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_moblie_fail_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_moblie_fail_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_moblie_fail_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_moblie_fail_alert_popup .content span { color: #2BA2DB; }
#auth_moblie_fail_alert_popup .footer { padding: 20px; }
#auth_moblie_fail_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Message Send Alert Popup
 ******************************************************************************/
#auth_message_send_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_message_send_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_message_send_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_message_send_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_message_send_alert_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#auth_message_send_alert_popup .content span { color: #2BA2DB; }
#auth_message_send_alert_popup .footer { padding: 20px; }
#auth_message_send_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Message Send Fail Alert Popup
 ******************************************************************************/
#auth_message_send_fail_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_message_send_fail_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_message_send_fail_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_message_send_fail_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_message_send_fail_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_message_send_fail_alert_popup .content span { color: #2BA2DB; }
#auth_message_send_fail_alert_popup .footer { padding: 20px; }
#auth_message_send_fail_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Empty Email Alert Popup
 ******************************************************************************/
#auth_empty_email_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_empty_email_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_empty_email_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_empty_email_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_empty_email_alert_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#auth_empty_email_alert_popup .content span { color: #2BA2DB; }
#auth_empty_email_alert_popup .footer { padding: 20px; }
#auth_empty_email_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Complete Alert Popup
 ******************************************************************************/
#auth_complete_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_complete_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_complete_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_complete_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_complete_alert_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#auth_complete_alert_popup .content span { color: #2BA2DB; }
#auth_complete_alert_popup .footer { padding: 20px; }
#auth_complete_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Number Wrong Alert Popup
 ******************************************************************************/
#auth_number_wrong_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_number_wrong_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_number_wrong_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_number_wrong_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_number_wrong_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_number_wrong_alert_popup .content span { color: #2BA2DB; }
#auth_number_wrong_alert_popup .footer { padding: 20px; }
#auth_number_wrong_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Auth Fail Alert Popup
 ******************************************************************************/
#auth_fail_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#auth_fail_alert_popup .header { position: relative; background-color: #2BA2DB; }
#auth_fail_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#auth_fail_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#auth_fail_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#auth_fail_alert_popup .content span { color: #2BA2DB; }
#auth_fail_alert_popup .footer { padding: 20px; }
#auth_fail_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/***************************************************************************
 * Sign Up - Sign Up Complete Auth
 ******************************************************************************/
#complete_auth_number_input { width: 900px; height: 714px; }
#complete_auth_number_input .top_banner { height: 30px; }
#complete_auth_number_input .top_banner .x_button { margin-left: 870px; }
#complete_auth_number_input .join_alert_div { width: 900px; height: 675px; margin-top: 9px; background-color: #FFF; border-radius: 5px; }
#complete_auth_number_input .join_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#complete_auth_number_input .join_alert_div .join_under_big_header { width: 900px; margin-top: 129px; text-align: center; }
#complete_auth_number_input .join_alert_div .join_under_big_header > p { margin-bottom: 0px; line-height: 25px; color: #333; font-size: 20px; font-weight:bold; }
#complete_auth_number_input .join_alert_div .auth_num_box { font-size: 14px; color: #333; }
#complete_auth_number_input .join_alert_div .auth_num_box input[type="text"] { width: 578px; height: 42px; margin: 32px 0px 20px 161px; padding-left: 20px; font-size: 16px; text-align: center; border: 1px solid #CCC; }
#complete_auth_number_input .join_alert_div .auth_num_box > a { margin-left: -33px; margin-right: 17px; }
#complete_auth_number_input .join_alert_div .join_under_input { padding-left: 160px; font-weight: bold; }
#complete_auth_number_input .join_alert_div .join_under_input > p { margin-bottom: 15px; line-height: 15px; color: #666; font-size: 14px; }
#complete_auth_number_input .join_alert_div .join_under_input > a { line-height: 0px; font-size: 16px; color: #2797CD; }
#complete_auth_number_input .join_alert_div .join_left_button { width: 165px; height: 47px; margin-top: 129px; margin-left: 285px; font-size: 17px; text-align: center; background-color: #2797CD; border-radius: 5px; }
#complete_auth_number_input .join_alert_div .join_left_button >  a > span > p { padding-top: 13px; font-weight: bold; font-size: 16px; color: #FFF; }
#complete_auth_number_input .join_alert_div .join_right_button{ width: 165px; height: 47px; margin-top: -47px; margin-bottom: 40px; margin-left: 460px; font-size: 17px; color: #FFF; text-align: center; background-color: #2BA2DB; border: 0; border-radius: 5px; }
#complete_auth_number_input .join_alert_div .join_right_button >  a > span > p { padding-top: 13px; font-weight :bold; font-size: 16px; color: #FFF; }

/***************************************************************************
 * Sign Up - Agreement
 ******************************************************************************/
#agreement { width: 900px; height: 714px; }
#agreement .top_banner { height: 30px; }
#agreement .top_banner .x_button { margin-left: 870px; }
#agreement .join_alert_div { width: 900px; height: 675px; margin-top: 9px; background-color: #FFF; border-radius: 5px; }
#agreement .join_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#agreement .join_alert_div .join_under_header_text { font-weight: bold; margin-top: 8px; margin-left: 50px; line-height: 14px; }
#agreement .join_alert_div .join_under_header_text > cl { margin-left: 346px; }
#agreement .join_alert_div .join_under_header_text > cl > img { margin-left: 12px; }
#agreement .join_alert_div .join_first_access{ margin-top: 30px; }
#agreement .join_alert_div .join_access{ margin-left: 50px; }
#agreement .join_alert_div .join_access > p:first-child { font-weight: bold; font-size: 16px; color: #333; }
#agreement .join_alert_div .join_access > p:first-child > cl { color: #2BA2DB; font-size: 12px; }
#agreement .join_alert_div .join_access_contents { width: 798px; height: 100px; margin-top: 10px; padding: 17px; padding-right: 56px; font-weight: bold; border: 1px solid #CACBCC; }
#agreement .join_alert_div .join_access_contents > p { font-size: 12px; line-height: 17px; color: #666; }
#agreement .join_alert_div .join_access_contents > p > cl:first-child { font-size: 12px; color: #999; }
#agreement .join_alert_div .join_access_contents > p > cl:nth-child(2) { color:#2BA2DB; }
#agreement .join_alert_div .join_nth_access{ margin-top: 18px; }
#agreement .join_alert_div .join_access_left_button { margin-left: 280px; }
#agreement .join_alert_div .join_access_left_button > img { margin-top: 38px; }
#agreement .join_alert_div .join_access_right_button { margin-left: 10px; }
#agreement .join_alert_div .join_access_right_button > img { margin-top: 38px; }
#agreement .join_alert_div .join_third_checkbox { margin-left: 548px !important; }
#agreement .join_alert_div .join_second_checkbox { margin-left: 568px !important; }
#agreement .join_alert_div .join_first_checkbox { margin-left: 638px !important; }

/******************************************************************************
 * Sign Up - Agreement Not Check Alert Popup
 ******************************************************************************/
#agreement_not_check_alert_popup { overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; }
#agreement_not_check_alert_popup .header { position: relative; background-color: #2BA2DB; }
#agreement_not_check_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#agreement_not_check_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#agreement_not_check_alert_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#agreement_not_check_alert_popup .content span { color: #2BA2DB; }
#agreement_not_check_alert_popup .footer { padding: 20px; text-align: center; }
#agreement_not_check_alert_popup .footer button { width: 135px; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/***************************************************************************
 * Sign Up - Info Input
 ******************************************************************************/
#info_input { width: 900px; height: 732px; }
#info_input .top_banner { height: 30px; }
#info_input .top_banner .x_button { margin-left: 870px; }
#info_input .join_alert_div { position:relative;width: 900px; height: 675px; margin-top: 9px; color: #333; background-color: #FFF; border-radius: 5px; }
#info_input .join_alert_div > p:first-child { margin-left: 50px; padding-top: 33px; font-weight: bold; color: #333; font-size: 26px; }
#info_input .join_alert_div .join_infor_insert_under_header { margin-top: 34px; margin-left: 50px; margin-bottom: 0px; font-weight: bold; color: #333; font-size: 16px; line-height: 16px; }
#info_input .join_alert_div .join_infor_insert_input { font-weight: bold; }
#info_input .join_alert_div .join_infor_insert_input > input { width: 800px; height: 40px; margin-top: 5px; margin-left: 50px; padding-left: 20px; font-size:16px; border: 1px solid #CCC; }
#info_input .join_alert_div .join_infor_insert_input > input:first-child { width: 800px; height: 40px; margin-top:10px;margin-left:50px; padding-left: 20px; font-size: 16px; }
#info_input .join_alert_div .boan_group { position: relative; margin-top: 10px; padding-left: 50px; }
#info_input .join_alert_div .boan_group .security_bar { float: left; width: 190px; height: 9px; margin-right: 12px; background-color: #D7D7D7; border: 1px solid #CACBCC; }
#info_input .join_alert_div .boan_group .security_bar.level { background-color: #2BA2DB; border: 0; }
#info_input .join_alert_div .how_boan > p:first-child { margin-top: 7px; margin-bottom: 7px; margin-left: 50px; font-weight: bold; line-height: 16px; color: #333; font-size: 16px; }
#info_input .join_alert_div .how_boan > p:nth-child(2) { margin-left: 50px; color: #666; font-weight: bold; line-height: 14px; }
#info_input .join_alert_div .join_user_infor > p:first-child{ margin-top: 30px; margin-left: 50px; margin-bottom: 10px; font-weight: bold; color: #333; font-size: 16px; line-height: 16px; }
#info_input .join_alert_div .join_user_infor { font-weight: bold; }
#info_input .join_alert_div .join_user_infor > p:first-child > cl { font-size: 12px; color: #2BA2DB; }
#info_input .join_alert_div .join_user_infor > input{ width: 800px; height: 40px; margin-top: 5px; margin-left: 50px; padding-left: 20px; font-size: 16px; border: 1px solid #CCC; }
#info_input .join_alert_div .join_user_infor > input:last-child { width: 400px; height: 40px; margin-top: 5px; margin-left: 6px; padding-left: 20px; font-size: 16px; }
#info_input .join_alert_div .join_user_infor > select { float: left; width: 394px; height: 40px; margin-left: 50px; margin-top: 5px; padding: 0px 7px; padding-left: 15px; color: #333; font-size: 16px; background: url("../images/06_dropdown_caret.png") 97% / 16px no-repeat; border: 1px solid #CCC; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }
#info_input .join_alert_div .join_infor_insert_button { width: 100%; margin-top: 69px; text-align: center; position: absolute;bottom:0px;}
#info_input .join_alert_div .join_infor_insert_button button { width: 165px; height: 50px; color: #2BA2DB; font-size: 16px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#info_input .join_alert_div .join_infor_insert_button .ok_btn { margin-right: 10px; color: #FFF; background-color: #2BA2DB; }

/******************************************************************************
 * Sign Up - Sign Up Fail Alert Popup
 ******************************************************************************/
#sign_up_fail_alert_popup { overflow: hidden; height:220px;width: 360px; border-radius: 5px; background-color: #FFF; z-index:110; }
#sign_up_fail_alert_popup .header { position: relative; background-color: #2BA2DB; }
#sign_up_fail_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#sign_up_fail_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#sign_up_fail_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#sign_up_fail_alert_popup .content span { color: #2BA2DB; }
#sign_up_fail_alert_popup .footer { padding: 20px; text-align: center; }
#sign_up_fail_alert_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Sign Up - Sign Up Cancle Alert Popup
 ******************************************************************************/
#sign_up_cancle_alert_popup { height:240px;overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF;z-index:110; }
#sign_up_cancle_alert_popup .header { position: relative; background-color: #2BA2DB; }
#sign_up_cancle_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#sign_up_cancle_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#sign_up_cancle_alert_popup .content { padding: 40px 20px 20px; color: #333; font-size: 13px; text-align: center; }
#sign_up_cancle_alert_popup .content span { color: #2BA2DB; }
#sign_up_cancle_alert_popup .footer { padding: 20px; text-align: center; }
#sign_up_cancle_alert_popup .footer button { width: 155px; height: 40px; color: #2BA2DB; font-size: 13px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#sign_up_cancle_alert_popup .footer .ok_btn { float: right; color: #FFF; background-color: #2BA2DB; }
/******************************************************************************
 * Sign Up - Not Recognition Num Alert Popup
 ******************************************************************************/
#not_recognition_num_alert_popup { height:220px;overflow: hidden; width: 360px; border-radius: 5px; background-color: #FFF; z-index:110; }
#not_recognition_num_alert_popup .header { position: relative; background-color: #2BA2DB; }
#not_recognition_num_alert_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#not_recognition_num_alert_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#not_recognition_num_alert_popup .content { padding: 40px 20px 10px; color: #333; font-size: 13px; text-align: center; }
#not_recognition_num_alert_popup .content span { color: #2BA2DB; }
#not_recognition_num_alert_popup .footer { padding: 20px; text-align: center; }
#not_recognition_num_alert_popup .footer button { width: 100%; height: 40px; color: #2BA2DB; font-size: 13px; font-weight: bold; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#not_recognition_num_alert_popup .footer .ok_btn { float: right; color: #FFF; background-color: #2BA2DB; }
