
/******************************************************************************
 *
 * Scheduler
 *
 ******************************************************************************/

/******************************************************************************
 * Scheduler - Common
 ******************************************************************************/
#content { padding: 0px; }
.underline { border-bottom : 1px solid #E6E6E6; }

/* Scroll Bar - Internet Explorer */
.scroll { scrollbar-3dLight-Color: #EDEDED; scrollbar-arrow-color: #EDEDED; scrollbar-base-color: #EDEDED; scrollbar-Face-Color: rgba(164, 169, 175, 0.3); scrollbar-Track-Color: #EDEDED; scrollbar-DarkShadow-Color: #EDEDED; scrollbar-Highlight-Color: rgba(164, 169, 175, 0.3); scrollbar-Shadow-Color: rgba(164, 169, 175, 0.3) }

/* Scroll Bar - Chrome, Safari */
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: rgba(237, 237, 237, 0.5); -webkit-border-radius: 3px; border-radius: 3px; margin-right: 10px; }
::-webkit-scrollbar-thumb { background-color: rgba(164, 169, 175, 0.5); -webkit-border-radius: 3px; border-radius: 3px; }

/* Input Placeholder */
::-webkit-input-placeholder { color: #CCC; }
::-moz-placeholder          { color: #CCC; } /* Firefox 19+ */
:-moz-placeholder           { color: #CCC; } /* Firefox 18- */
:-ms-input-placeholder      { color: #CCC; }

/* Radio Customizing */
.radio_menu .btn { display: block; float: left; margin: 0px 22px 0px 0px; padding: 0px; color: #999; font-size: 11px; }
.radio_menu .btn:hover { color: #999; }
.radio_menu .btn:active { box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
.radio_menu .btn.active { color: #333;  box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
.btn .radio_img { padding: 9.5px; background: url("../images/00_radio_off.png") center no-repeat; background-size: 18px; }
.btn.active .radio_img { background: url("../images/00_radio_on.png") center no-repeat; background-size: 18px; }

/* Select Customizing */
html select { float: left; width: 75px; height: 29px; padding: 0px 7px; color: #666; font-size: 13px; background: url("../images/06_dropdown_caret.png") 90% / 16px no-repeat; background-color: #FFF; border: 1px solid #D0D0D0; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }

/* Checkbox Customizing */
input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { display: block; float: left; position: relative; margin: 0px; padding: 8px; background: url("../images/04_createchat_checkbox_n.png") center no-repeat; }
input[type="checkbox"]:checked + label { background: url("../images/04_createchat_checkbox_y.png") center no-repeat; }


/******************************************************************************
 * Scheduler - Main
 ******************************************************************************/
#scheduler_main { padding: 0; }
#scheduler_main .scheduler_header { position: relative; height: 70px !important; padding: 30px 30px 10px; border-bottom: 1px solid #2BA2DB; }
#scheduler_main .scheduler_header .main_date_box { position: absolute; bottom: 14px; left: 492px; height: 22px; } /*width: 303px !important; */
#scheduler_main .scheduler_header .main_date_box a { margin: 2px 10px; }
#scheduler_main .scheduler_header .main_date_prev { float: left; }
#scheduler_main .scheduler_header .main_date_next { float: right; }
#scheduler_main .scheduler_header .main_date { float: left; width: 165px !important; color: #060B1F; font-size: 20px; font-weight: bold; text-align: center; }
#scheduler_main .scheduler_header .today_button { float: right; width: 42px; height: 22px; margin-left: 2px; color: #2C2F3B; font-size: 12px; background-color: #FFF; border: 1px solid #2797CD; border-radius: 5px; }
#scheduler_main .scheduler_header .main_menu { float: left; }
#scheduler_main .scheduler_header .main_menu .nav-pills>li+li { margin: 0px; }
#scheduler_main .scheduler_header .main_menu .menu_item { float: left; width: 70px; height: 29px !important; margin-right: 10px; padding: 6px 20px; color: #2BA2DB; font-size : 13px; font-weight: bold; background-color : #FFF; border: 1px solid #2797CD; border-radius: 5px; }
#scheduler_main .scheduler_header .main_menu .menu_item:focus,
#scheduler_main .scheduler_header .main_menu .menu_item:hover { background-color : #FFF; }
#scheduler_main .scheduler_header .main_menu .active>.menu_item,
#scheduler_main .scheduler_header .main_menu .active:focus>.menu_item,
#scheduler_main .scheduler_header .main_menu .active:hover>.menu_item,
#scheduler_main .scheduler_header .main_menu .active>.menu_item:focus,
#scheduler_main .scheduler_main .scheduler_header .main_menu .active>.menu_item:hover { color: #FFF; background-color: #2BA2DB; }
#scheduler_main .scheduler_header .main_action { float: right; }
#scheduler_main .scheduler_header .action_btn { float: right; width: 111px; height: 29px !important; margin-left: 10px; color: #FFF; font-size : 13px; font-weight: bold; background-color : #2BA2DB; border: 1px solid #2797CD; border-radius: 5px; }
#scheduler_main .scheduler_contents .tab-content { width: 1200px; height: 675px; }

/******************************************************************************
 * Scheduler - Scheduler Create
 ******************************************************************************/
#scheduler_create { padding: 0px; }
#scheduler_create .header { float : left; width: 100%; padding: 30px 30px 25px; color: #000; font-size: 24px; font-weight: bold; border-bottom: 1px solid #CCC; }
#scheduler_create .content { float : left; width: 100%; padding: 30px; }
#scheduler_create .content .detailed_contents_header { padding: 0px 0px 15px 0px; color: #2BA2DB; font-size: 19px; font-weight: bold; border-bottom: 2px solid #2BA2DB; }
#scheduler_create .content .detailed_contents_title { padding: 20px 0px; color: #333; font-size: 13px; font-weight: bold; line-height: 25px; }
#scheduler_create .content .detailed_contents_text { padding: 20px 0px; color: #333; font-size: 13px; font-weight: bold; line-height: 25px; }
#scheduler_create .content .detailed_contents_text .btn { font-size: 13px; font-weight: bold; }
#scheduler_create .content input { width: 80%; height: 30px; padding-left: 4px; border: 1px solid #D0D0D0; border-radius: 4px; line-height: normal; }
#scheduler_create .content textarea { width: 100%; height: 184px; padding: 4px; border: 1px solid #D0D0D0; border-radius: 4px; resize: none; line-height: normal; }
#scheduler_create .content .detailed_contents_text .text_wrap { padding: 0px; }
#scheduler_create .content .detailed_contents_text .detailed_btn { float: right; width: 101px; height: 29px !important; color: #FFF; font-size: 13px; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#scheduler_create .content .attachment_preview { position: relative; margin-bottom: 10px; }
#scheduler_create .content .attachment_preview_text { position: absolute; bottom: 0; left: 60px; }
#scheduler_create .content .attachment_del,
#scheduler_create .content .attachment_del:hover,
#scheduler_create .content .attachment_del:active,
#scheduler_create .content .attachment_del:focus { color: #E30000; font-size: 10px; }
#scheduler_create .content .attachment_include { float: left; margin: 5px 0px; }
#scheduler_create .content .attachment_include .attachment_url { float: left; width: 727px; height: 30px; padding-left: 4px; border: 1px solid #D0D0D0; border-radius: 4px; line-height: normal; }
#scheduler_create .content .attachment_include .attachment_btn { float: left; width: 38px; height: 29px; margin-left: 5px; color: #FFF; font-size: 13px; background-color: #999; border: 1px solid #666; border-radius: 4px; }
#scheduler_create .content .attachment_include .attachment_find { float: left; width: 101px; }
#scheduler_create .content .detailed_footer { padding: 32px; text-align: center; }
#scheduler_create .content .detailed_footer .detailed_no_btn { width: 164px !important; height: 49px !important; margin: 0px 5px; color: #2BA2DB; font-size: 15px; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#scheduler_create .content .detailed_footer .detailed_yes_btn { width: 164px !important; height: 49px !important; margin: 0px 5px; color: #FFF; font-size: 15px; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Schedule Select Popup
 ******************************************************************************/
#schedule_select_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#schedule_select_popup .header { position: relative; background-color: #2BA2DB; }
#schedule_select_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#schedule_select_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#schedule_select_popup .content .select_box .btn { width: 100%; margin: 0; padding: 15px 20px; color: #333; font-size: 15px; text-align: left; border-bottom: 1px solid #CCC; border-radius: 0; }
#schedule_select_popup .content .select_box .btn:hover { color: #333; }
#schedule_select_popup .footer { padding: 20px; }
#schedule_select_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Schedule Change World Popup
 ******************************************************************************/
#schedule_change_world_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#schedule_change_world_popup .header { position: relative; background-color: #2BA2DB; }
#schedule_change_world_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#schedule_change_world_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#schedule_change_world_popup .sub_panel { width: 100%; padding: 10px 20px; background-color: #F2F2F2; border-bottom: 1px solid #ccc; }
#schedule_change_world_popup .sub_panel .search_bar { width: 215px; height: 29px; padding-left: 30px; border: 1px solid #D0D0D0; border-radius: 4px; }
#schedule_change_world_popup .sub_panel .search_bar::-webkit-input-placeholder { color: #666; }
#schedule_change_world_popup .sub_panel .search_bar::-moz-placeholder          { color: #666; } /* Firefox 19+ */
#schedule_change_world_popup .sub_panel .search_bar:-moz-placeholder           { color: #666; } /* Firefox 18- */
#schedule_change_world_popup .sub_panel .search_bar:-ms-input-placeholder      { color: #666; }
#schedule_change_world_popup .sub_panel .search_icon { left: 0; width: 16px !important; height: 16px !important; margin: 5px 5px 5px 10px; background: url("../images/01_member_searchicon.png") center no-repeat; background-size: 16px; cursor: pointer; }
#schedule_change_world_popup .sub_panel .search_btn { float: right; width: 49px; height: 29px; color: #FFF; font-size: 15px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#schedule_change_world_popup .content .world_time_list_item { float: left; width: 100%; padding: 10px 20px; color: #333; font-size: 13px; border-bottom: 1px solid #ccc; }
#schedule_change_world_popup .footer { padding: 20px; }
#schedule_change_world_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Time Change Popup
 ******************************************************************************/
#time_change_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#time_change_popup .header { position: relative; background-color: #2BA2DB; }
#time_change_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#time_change_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#time_change_popup .content { width: 100%; height: 134px; padding: 20px 62px 0px; }
#time_change_popup .footer { padding: 20px; }
#time_change_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Schedule Change Select Popup
 ******************************************************************************/
#schedule_change_select_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#schedule_change_select_popup .header { position: relative; background-color: #2BA2DB; }
#schedule_change_select_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#schedule_change_select_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#schedule_change_select_popup .sub_panel { height: 51px; padding: 20px; color: #000; font-size: 13px; border-bottom: 1px solid #ccc; }
#schedule_change_select_popup .sub_panel input[type="checkbox"] { float: right; display: block; }
#schedule_change_select_popup .content .select_box .btn { width: 100%; margin: 0; padding: 15px 20px; color: #333; font-size: 15px; text-align: left; border-bottom: 1px solid #CCC; border-radius: 0; }
#schedule_change_select_popup .content .select_box .btn:hover { color: #333; }
#schedule_change_select_popup .footer { padding: 20px; }
#schedule_change_select_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Schedule Change Time Popup
 ******************************************************************************/
#schedule_change_time_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#schedule_change_time_popup .header { position: relative; background-color: #2BA2DB; }
#schedule_change_time_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#schedule_change_time_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#schedule_change_time_popup .content .date_bar { padding: 20px; border-bottom: 1px solid #ccc; }
#schedule_change_time_popup .content .date { color: #2BA2DB; font-size: 13px; }
#schedule_change_time_popup .content .world_time { color: #333; font-size: 11px; }
#schedule_change_time_popup .content .date_select_box { float: left; padding: 5px 15px; border-bottom: 1px solid #ccc; }
#schedule_change_time_popup .content .select_year_btn { width: 103px; }
#schedule_change_time_popup .content .select_day_btn,
#schedule_change_time_popup .content .select_month_btn,
#schedule_change_time_popup .content .select_hour_btn,
#schedule_change_time_popup .content .select_minute_btn { float: right; }
#schedule_change_time_popup .content .world_time_btn { float: left; padding: 20px; color: #333; font-size: 13px; border-bottom: 1px solid #ccc; }
#schedule_change_time_popup .content .world_time_btn button { width: 205px; margin-left: 29px; padding: 0px; color: #2BA2DB; font-size: 13px; text-align: left; background-color: #FFF; border: 0px; }
#schedule_change_time_popup .content .world_time_btn img { float: right; }
#schedule_change_time_popup .footer { padding: 20px; }
#schedule_change_time_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Repeat Schedule Select Popup
 ******************************************************************************/
#repeat_schedule_select_popup { overflow: hidden; width: 315px; border-radius: 5px; background-color: #FFF; }
#repeat_schedule_select_popup .header { position: relative; background-color: #2BA2DB; }
#repeat_schedule_select_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#repeat_schedule_select_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#repeat_schedule_select_popup .content .select_box .btn { width: 100%; margin: 0; padding: 15px 20px; color: #333; font-size: 15px; text-align: left; border-bottom: 1px solid #CCC; border-radius: 0; }
#repeat_schedule_select_popup .content .select_box .btn:hover { color: #333; }
#repeat_schedule_select_popup .content .custom_btn { width: 100%; padding: 20px; text-align: left; color: #333; font-size: 15px; background-color: #FFF; border: 0; border-bottom: 1px solid #ccc; }
#repeat_schedule_select_popup .content .custom_btn img { float: right; }
#repeat_schedule_select_popup .footer { padding: 20px; }
#repeat_schedule_select_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Custom Repeat Select Popup
 ******************************************************************************/
#custom_repeat_select_popup { overflow: hidden; width: 315px; height: 369px; border-radius: 5px; background-color: #FFF; }
#custom_repeat_select_popup .header { position: relative; background-color: #2BA2DB; }
#custom_repeat_select_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#custom_repeat_select_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#custom_repeat_select_popup .content { height: 239px; color: #333; font-size: 13px; }
#custom_repeat_select_popup .content .panel_bar { height: 50px; padding: 10px 20px; border-bottom: 1px solid #E6E6E6; }
#custom_repeat_select_popup .content .panel_bar input[type="text"] { width: 37px; height: 29px; color: #666; text-align: center; border: 1px solid #D0D0D0; border-radius: 5px; }
#custom_repeat_select_popup .content .panel_bar select { float: right; width: 160px; margin: 0px; }
#custom_repeat_select_popup .content .panel_bar:nth-child(1) { height: 51px; background-color: #F2F2F2; border-color: #CCC; }
#custom_repeat_select_popup .content .panel_bar:nth-child(1) select,
#custom_repeat_select_popup .content .panel_bar:nth-child(3) select { float: none; width: 180px; margin: 0px; }
#custom_repeat_select_popup .content .panel_bar:nth-child(1) input[type="checkbox"] { float: right; display: block; }
#custom_repeat_select_popup .content .panel_bar.day input[type="text"] { margin-left: 15px; }
#custom_repeat_select_popup .content .panel_bar.day input[type="text"]:nth-child(1) { width: 57px; margin: 0; }
#custom_repeat_select_popup .content .day_select { padding: 15px 46.5px 5px 12.5px; }
#custom_repeat_select_popup .content .day_select input[type="checkbox"] { display: none; }
#custom_repeat_select_popup .content .day_select input[type="checkbox"] + label { display: block; float: left; position: relative; width: 49px; height: 49px; margin: 5px 7.5px; padding: 15px 13px; color: #FFF; font-size: 15px; background: #AAA; border-radius: 24.5px; cursor: pointer; }
#custom_repeat_select_popup .content .day_select input[type="checkbox"]:checked + label { background: #2B94D6; }
#custom_repeat_select_popup .footer { padding: 20px; }
#custom_repeat_select_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Register Location Popup
 ******************************************************************************/
#register_location_popup { overflow: hidden; width: 560px; height: 830px; border-radius: 5px; background-color: #FFF; }
#register_location_popup .header { position: relative; background-color: #2BA2DB; }
#register_location_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#register_location_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#register_location_popup .sub_panel { width: 100%; height: 51px; padding: 10px 20px; background-color: #F2F2F2; border-bottom: 1px solid #CCC; }
#register_location_popup .sub_panel .search_bar { width: 464px; height: 29px; padding-left: 32px; color: #666; font-size: 13px; border: 1px solid #D0D0D0; border-radius: 4px; }
#register_location_popup .sub_panel .search_bar::-webkit-input-placeholder { color: #666; }
#register_location_popup .sub_panel .search_bar::-moz-placeholder          { color: #666; } /* Firefox 19+ */
#register_location_popup .sub_panel .search_bar:-moz-placeholder           { color: #666; } /* Firefox 18- */
#register_location_popup .sub_panel .search_bar:-ms-input-placeholder      { color: #666; }
#register_location_popup .sub_panel .search_icon { left: 0; width: 16px !important; height: 16px !important; margin: 6px 5px 5px 10px; background: url("../images/01_member_searchicon.png") center no-repeat; background-size: 16px; cursor: pointer; }
#register_location_popup .sub_panel .search_btn { float: right; width: 49px; height: 29px; color: #FFF; font-size: 15px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#register_location_popup .content { position: relative; width: 100%; height: 606px; padding: 20px 20px 0px; }
#register_location_popup .content .map { width: 100%; height: 586px; }
#register_location_popup .content .size_btn_box { position: absolute; bottom: 10px; right: 30px; }
#register_location_popup .content .size_btn_box button { width: 38px; height: 29px; margin-left: 5px; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#register_location_popup .footer { padding: 20px; }
#register_location_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }

/******************************************************************************
 * Scheduler - Time Change Popup
 ******************************************************************************/
#member_invite_popup { overflow: hidden; width: 315px; height: 610px; border-radius: 5px; background-color: #FFF; }
#member_invite_popup .header { position: relative; background-color: #2BA2DB; }
#member_invite_popup .header .close_button{ position: absolute; top: 10px; right: 20px; }
#member_invite_popup .header h2 { font-size: 17px; color: #FFF; text-align: center; font-weight: bold; line-height: 50px; }
#member_invite_popup .content .user_slide { float: left; width: 100%; height: 76px; padding: 10px 20px; }
#member_invite_popup .content .user_slide a { margin: 20px 0px; }
#member_invite_popup .content .slide_left { float: left; }
#member_invite_popup .content .slide_right { float: right; }
#member_invite_popup .content .search_type_radio { float: left; width: 100%; height: 38px; padding: 0px 20px; }
#member_invite_popup .content .search_type_radio input[type="radio"] { display: none; }
#member_invite_popup .content .btn { padding: 10px 15px 5px 0px; }
#member_invite_popup .content .btn, #member_invite_popup .btn:hover, #member_invite_popup .btn:focus, #member_invite_popup .btn:active,
#member_invite_popup .content .btn.active a, #member_invite_popup .btn.active a:hover, #member_invite_popup .btn.active a:focus,
#member_invite_popup .btn.active a:active, #member_invite_popup .content .btn a, #member_invite_popup .btn a:hover,
#member_invite_popup .btn a:focus, #member_invite_popup .btn a:active { color: #333; font-size: 13px; background-color: #FFF; }
#member_invite_popup .content .btn.active, #member_invite_popup .btn:active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);  box-shadow: inset 0 3px 5px rgba(0,0,0,0); }
#member_invite_popup .content .tab-content { float: left; width: 100%; height: 70px; }
#member_invite_popup .content .select_search_box { float: left; width: 100%; padding: 10px 20px; background: #F2F2F2; }
#member_invite_popup .content .language_select { width: 180px; margin: 0px 0px 10px 0px; }
#member_invite_popup .content .select_search_box .search_bar{ width: 219px; padding-left: 10px; }
#member_invite_popup .content .search_btn { float: right; width: 49px; height: 29px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 0px; border-radius: 4px; }
#member_invite_popup .content .invite_list { overflow-x: hidden; overflow-y: overlay; float: left; height: 231px !important; margin: 0px 20px;}
#member_invite_popup .content .invite_list_item { display: block; position: relative; width: 275px; height: 60px !important; margin-bottom: 0px; border-bottom: 1px solid #E6E6E6; }
#member_invite_popup .content .invite_check_label { margin-top: 23px; }
#member_invite_popup .content .user_img { float: left; width: 36px; height: 36px; margin: 12px; border-radius: 18px; }
#member_invite_popup .content .invite_user_info { position: absolute; top: 50%; left: 87px; transform: translateY(-50%); }
#member_invite_popup .content .invite_user_info h4.user_name { float: left; margin: 0px; font-size: 13px; color: #333; font-weight: bold; }
#member_invite_popup .content .invite_user_info h6.user_email { margin: 0; padding-top: 7px; font-size: 10px; color: #999; clear: left; }
#member_invite_popup .content input { float: left; height: 29px; padding-left: 10px; border: 1px solid #D0D0D0; border-radius: 4px; }
#member_invite_popup .content .input_email input { float: left; height: 29px; padding-left: 10px; border: 1px solid #D0D0D0; border-radius: 4px; }
#member_invite_popup .content .input_email span { float: left; padding: 6px 2px 0px; }
#member_invite_popup .content .search_email_id { width: 93px; clear: left; }
#member_invite_popup .content .search_email_add { width: 110px; }
#member_invite_popup .footer { padding: 20px; }
#member_invite_popup .footer button { width: 100%; height: 40px; color: #FFF; font-size: 13px; font-weight: bold; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }






/* 06_02_schedule_detail_view.html */
/* detail_view */
#detail_view { padding: 0px; }
#detail_view .detailed_contents_top { float : left; width: 100%; padding: 30px 30px 25px; color: #000; font-size: 24px; font-weight: bold; border-bottom: 1px solid #CCC; }
#detail_view .detailed_contents { float : left; width: 100%; padding: 30px; }
#detail_view .detailed_contents_header { color: #2BA2DB; font-size: 19px; font-weight: bold; border-bottom: 2px solid #2BA2DB; }
#detail_view .detailed_contents_title { padding: 20px 0px; color: #333; font-size: 13px; font-weight: bold; line-height: 25px; }
#detail_view .detailed_contents_text { padding: 20px 0px; color: #333; font-size: 13px; font-weight: bold; line-height: 25px; }
#detail_view .detailed_contents_text .text_wrap { padding: 0px; }
#detail_view .detailed_btn { float: right; width: 101px; height: 29px !important; color: #FFF; font-size: 13px; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#detail_view .attachment_preview { position: relative; margin-bottom: 10px; }
#detail_view .attachment_preview_text { position: absolute; bottom: 0; left: 60px; }
#detail_view .detailed_footer { padding: 32px; text-align: center; }
#detail_view .detailed_no_btn { width: 164px !important; height: 49px !important; margin: 0px 5px; color: #2BA2DB; font-size: 15px; background-color: #FFF; border: 1px solid #2797CD; border-radius: 4px; }
#detail_view .detailed_yes_btn { width: 164px !important; height: 49px !important; margin: 0px 5px; color: #FFF; font-size: 15px; background-color: #2BA2DB; border: 1px solid #2797CD; border-radius: 4px; }
#detail_view .detail_view_del,
#detail_view .detail_view_modify { width: 57px; margin: 0px 0px 10px 5px; }
#detail_view .schedule_location_map { width: 490px !important; height: 278px !important; }
#detail_view .attachment_preview_text { bottom: 50%; transform: translateY(50%); }
#detail_view .attachment_preview_text p { margin: 0px; }
#detail_view .file_name { color: #232739; font-size: 14px; }
#detail_view .file_url { color: #95969C; font-size: 13px; }
#detail_view .detail_view_btn { float: right; width: 61px; height: 21px; color: #666; font-size: 11px; background-color: #FFF; border: 1px solid #B6B6B6; border-radius: 4px; line-height: normal; }
#detail_view .participant_group { margin-bottom: 20px; }
#detail_view .participant_user { float: left; position: relative; width: 100%; margin-bottom: 0px; }
#detail_view .participant_user .user_img { float: left; width: 36px; height: 36px; margin: 12px 12px 12px 0px; border-radius: 18px; }
#detail_view .participant_user_info { float: left; position: absolute; top: 50%; left: 48px; transform: translateY(-50%); }
#detail_view .participant_user_info h4.user_name { float: left; margin: 0px; font-size: 13px; color: #333; font-weight: bold; }
#detail_view .participant_user_info h6.user_emil { margin: 0; padding-top: 7px; font-size: 11px; color: #999; clear: left; }
#detail_view .will_you { margin-bottom: 20px; color: #333; font-size: 17px; font-weight: bold; }
